<div class="container">
    <div class="container-fluid thumbnail padding-main">
        <div ng-if="sourceImage">
            <img ng-src="{{sourceImage}}" alt="the picture hasn't been  found">
        </div>
        <br>
        <br>
        <div ng-if="sizes">
    <span ng-repeat="size in sizes.size">
       <button class="btn btn-link btn-md" title="click to see picture with this size"
               ng-click="getImageBySize(size, sourceImage, $index)">
            <a>{{size.width}}x{{size.height}}</a>
       </button>
    </span>
        </div>
    </div>
</div>